body{
  margin: 10px;
  background: deepskyblue;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

p{
  text-align: center;
}

h1 {
  text-align: center;
  color: black;
  font-family: 'Quando', serif;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;
}

nav{
  background: whitesmoke;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button {
  margin: 5px;
  box-shadow: 1px 1px .5px #aaaaaa;
  border-radius: 2px;
  color: black;
  border-color: white;
  text-decoration: none;
}

.background {
  background: white;
  margin: 2%;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


button:hover {
  background-color: deepskyblue;
  border-color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  color: white;
  text-decoration: none;
}

form {
  background: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  margin: 5% auto;
  width: 50%;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

input{
  margin: 2%;
}